body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    background-position: center;
    animation: grow 70s linear 0s infinite;
    transition:background 3s ease-in-out;
    position: relative;
}

/* Pour les écrans de bureau (plus larges que 1024px) */
@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }
}

/* Pour les tablettes (entre 768px et 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

/* Pour les smartphones (moins de 768px) */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

.hidden {
  display: none; /* Cache les images au début */
}

.hidden-image-to-show {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;  /* Rendre l'image transparente au départ */
    visibility: hidden;  /* Rendre l'image invisible */
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.image-to-show:not(.hidden) {
    opacity: 1; /* Image visible */
}

 /* Styles pour le bouton du point d'interrogation */
.question-merk-btn {
    display: inline-block;
    width: 4rem;
    height: 5rem;
    color: white;
    text-align: center;
    line-height: 5rem;  /* Centrer le texte */
    font-size: 6rem;
    text-decoration: none;  /* Retirer le soulignement du lien */
    cursor: pointer;
}
.question-merk {
    font-size: 6.2rem;  /* Taille du point d'interrogation */
}
.question-merk-btn, .question-merk {
  all: unset;  /* Réinitialise tous les styles précédemment hérités */
}

    /* Conteneur pour la ligne */
 .full-width-line {
    display: flex;
    align-items: center;
    justify-content: center;  /* Centrer la ligne avec le symbole */
    margin: 2rem 0;
    width: 100%;
    flex-grow: 1;
    border: none;
    border-top: 0.1rem solid white;  /* Ligne blanche */
    margin: 0; 
}


.cercle {
  width: 10rem;        /* Largeur du cercle */
  height: 10rem;       /* Hauteur du cercle */
  border: 0.1rem solid white; 
  border-radius: 50%; 
  position: absolute;
  margin-top: -35rem;  
  margin-left: 100rem; 
}

.hache {
    width: 45rem;
    height: 2rem;
    display: flex;
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center;

}
.image-hache {
    width: 70%;  /* L'image prend 80% de la largeur du conteneur */
    height: auto;
    transform: rotate(30deg);
    margin-top: 62rem;
    margin-left: 150rem;
}

.cowboy {
    width: 45rem;
    height: 2rem;
    display: flex;
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center;

}
.image-cowboy {
    width: 65%;  /* L'image prend 80% de la largeur du conteneur */
    height: auto;
    margin-top: 72rem;
    margin-left: 70rem;
}

.arbalette {
    width: 45rem;
    height: 2rem;
    display: flex;
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center;

}
.image-arbalette {
    width: 70%;  /* L'image prend 80% de la largeur du conteneur */
    height: auto;
    transform: rotate(45deg);
    margin-top: 72rem;
    margin-left: 35rem;
}
.lapin{
    width: 18rem;
    height: 5rem;
    display: flex;
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center;
}
.image-lapin {
    width: 50%;  /* L'image prend 80% de la largeur du conteneur */
    height: auto;
    margin-top: 150rem;
    margin-left: 187rem;
    transform: rotate(190deg);
}
.louche {
    width: 50rem;
    height: 2rem;
    display: flex;
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center;
}
.image-louche {
    width: 50%;  /* L'image prend 80% de la largeur du conteneur */
    height: auto;
    transform: rotate(50deg);
    margin-top: 62rem;
    margin-left: 45rem;
}
.DeadGirls {
    width: 30rem;
    height: 2rem;
    display: flex;
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center;
}
.image-DeadGirls {
    width: 50%;  /* L'image prend 80% de la largeur du conteneur */
    height: auto;
    margin-top: 72rem;
    margin-left: 177rem;
    margin-right: -5px;
}

.cornelius {
    width: 30rem;
    height: 2rem;
    display: flex;
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center;
}
.image-cornelius {
    width: 50%;  /* L'image prend 80% de la largeur du conteneur */
    height: auto;
    margin-top: 35rem;
    margin-left: 67rem;
}

.pigeon {
    width: 30rem;
    height: 2rem;
    display: flex;
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center;
}
.image-pigeon {
    width: 50%;  /* L'image prend 80% de la largeur du conteneur */
    height: auto;
    margin-top: 40rem;
    margin-left: 230rem;
}
.main-verte {
    width: 65rem;
    height: 5rem;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.image-main-verte {
    width: 50%;  /* L'image prend 80% de la largeur du conteneur */
    height: auto;
    margin-top: 70rem;
    margin-left: 60rem;
}

.carpe {
    width: 50rem;
    height: 5rem;
    display: flex;
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center;
}
.image-carpe {
    width: 50%;  
    height: auto;
    margin-top: 110rem;
    margin-left: 205rem;
    transform: rotate(90deg);
}

    /*arrangements text*/
.vertical-text {
    writing-mode: vertical-rl;
    font-size: 1rem; 
    margin-top: 95rem;
    margin-left: -4.5rem;  /* Ajuste la marge à gauche du texte */
    color: white;  /* Couleur du texte */
}
a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
}
.domino{
    font-size: 3rem;
    color:pink;
    margin-top: 150rem;
    display: inline-block; /* S'assurer que l'élément est en ligne avec l'image */
    margin-left: 1rem; /* Un petit espace à gauche du texte */
    white-space: nowrap;
}

/* conteneurS */
.egg {
    width: 35rem;
    height: 1rem;
    display: flex;
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center;
}
.image-egg {
    width: 70%;  
    height: auto;
    margin-left: 6rem;
}
.image-ressort {
    position: absolute;
    margin-top: -10rem;
}
.tiroir {
    width: 30rem;
    height: 1rem;
    display: flex;

}
.image-tiroir {
    width: 20%;
    position: absolute;
    margin-top: -10rem;
    margin-left: 10rem;
}
/* fin des conteneurS */

          /*! explanation-BOX #ccc; */


.explanation-box {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: none;
}

.question-mark {
    font-size: 30px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.explanation-content{
    display: none;
    position: absolute;
    bottom: 5rem;
    right: 0;
    background-color: transparent;
    padding: 1rem;
    width: 40rem;
    border: 2rem white;
    color: rgb(133, 133, 133);
    font-size: 14px;
    text-align: justify;
    text-decoration: none;
}

ul li{
    color: white;
    font-size: 13px;
}
h1,p{
    font-size: 13px;
    margin-top: 0px;
    text-decoration: none;
    text-align: right;
}

h2{
    font-size: 13px;
    font-style: thin;
    position: absolute;
    margin-top: 20rem;
    margin-left: 50rem;
}
h3{
    font-size: 30px;
    margin-top: 0.5rem;
    margin-left: 1rem;
}
.explanation-box.open .explanation-content {
    display: block;
}


/*construction spirale*/

#spiral-container {
    position: relative;
    width: 60rem;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid white;
    border-radius: 30%;
}


/* Animation pour créer l'effet de spirale */
#spiral-container {
    position: absolute;
    left: 50%;
    transform: translate(-70%,10%);
    width: 60rem;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid white;
    border-radius: 50%;
}


.spiral-image {
    position: absolute;
    display: inline-block;
    cursor: pointer;
}

.image-visible {
    transition: opacity 0.3s ease;  /* Transition fluide */
}

.image-hidden {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;  /* Rendre l'image transparente au départ */
    visibility: hidden;  /* Rendre l'image invisible */
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.spiral-image:hover .image-visible {
    opacity: 0;  /* Rendre l'image principale transparente au survol */
}

.spiral-image:hover .image-hidden {
    opacity: 1;  /* Rendre l'image cachée visible au survol */
    visibility: visible;  /* Rendre l'image visible */
}

/* Spirale : Positionnement des images */
#spiral-container .spiral-image:nth-child(1) {
    transform: rotate(19deg) translateX(14.5rem) rotate(-60deg) scale(0.15);
    background-image: url('image1.jpg');
}
#spiral-container .spiral-image:nth-child(2) {
    transform: rotate(30deg) translateX(9rem) rotate(190deg) scale(0.4);
    background-image: url('image2.jpg');
}
#spiral-container .spiral-image:nth-child(3) {
    transform: rotate(60deg) translateX(25rem) rotate(-80deg) scale(0.2);!!!
    background-image: url('image3.jpg');
}
#spiral-container .spiral-image:nth-child(4) {
    transform: rotate(90deg) translateX(21rem) rotate(-90deg) scale(0.2);
    background-image: url('image4.jpg');
}
#spiral-container .spiral-image:nth-child(5) {
    transform: rotate(95deg) translateX(17rem) translateY(-15px) rotate(-100deg) scale(0.2);
    background-image: url('image1.jpg');
}
#spiral-container .spiral-image:nth-child(6) {
    transform: rotate(150deg) translateX(16rem) rotate(-150deg) scale(0.8);
    background-image: url('image2.jpg');
}
#spiral-container .spiral-image:nth-child(7) {
    transform: rotate(-40deg) translateX(-35rem) translateY(-60px) rotate(-180deg) scale(0.2);
    background-image: url('image3.jpg');
}
#spiral-container .spiral-image:nth-child(8) {
    transform: rotate(210deg) translateX(19rem) rotate(-210deg) scale(0.35);
    background-image: url('image4.jpg');
}
#spiral-container .spiral-image:nth-child(9) {
    transform: rotate(240deg) translateX(21rem) rotate(-240deg) scale(0.25);
    background-image: url('image1.jpg');
}
#spiral-container .spiral-image:nth-child(10) {
    transform: rotate(0deg) translateX(3rem) translateY(-30rem) rotate(-270deg) scale(0.1);
    background-image: url('image2.jpg');
}


    /* image 3D - mouvement et déplacement */



.cheval-3D {
    perspective: 100rem; /* Donne l'effet de profondeur 3D */
    width: 150rem;
    height: auto;
}

.image-3d {
    width: 70%;
    transition: transform 1s; /* Transition fluide */
    transform-style: preserve-3d; /* Permet à l'image d'être manipulée en 3D */
    cursor: pointer; /* Change le curseur au survol */
    position: absolute; /* Pour permettre le déplacement */
    margin-top: 10rem;  
    margin-left: 20rem; 
}

/* Effet de rotation sur l'image */
.image-3d:hover {
    transform: rotateY(360deg); /* Rotation autour de l'axe Y */
}




